{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 display-form">
            <h1 class="form-header text-center uppercase">Delete Booking</h1>
            <p>Are you sure you want to delete the booking for {{ booking.date }} at {{ booking.time_slot }}?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'book:party_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}