{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 display-form">
            <h1 class="form-header text-center uppercase">Edit Booking</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn-light">Save changes</button>
            </form>
            <a href="{% url 'book:party_list' %}" class="btn-danger">Cancel</a>
        </div>
    </div>
</section>
{% endblock %}
