{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 display-form">
    <h1 class="form-header text-center uppercase">Party List</h1>
    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    {{ booking }} 
                    <a href="{% url 'book:edit_booking' booking.id %}" class="btn btn-light btn-sm">Edit</a>
                    <a href="{% url 'book:delete_booking' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
